body{
  text-align: center;
  background-color: rgb(113, 205, 208);
}
.two{
  height: 200px;
  width: 200px;
  border: 5px solid black;
  margin: 1rem;
  border-radius: 10%;
}
.one{
  display: flex;
  justify-content: center; /*important as text-align:center(it's for only text) won't work here so using justify-content*/
}
.red{
  background-color: rgb(193, 3, 3);
  box-shadow:1px 5px 5px black;
}
.yellow{
  background-color: rgb(194, 194, 3);
  box-shadow:1px 5px 5px black;
}
.green{
  background-color: rgb(2, 188, 2);
  box-shadow:1px 5px 5px black;
}
.blue{
  background-color: rgb(1, 1, 194);
  box-shadow:1px 5px 5px black;
}
.flashUser{
  background-color: white;
}
.flashGame{
  background-color: black;
}
.flashBody{
  background-color: red;
}